<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/header') %>
</head>
<body>
<%- include('../components/navigation') %>

<section class="blog-area section">
    <div class="container">
        <div class="col-sm-4 mx-auto">
            <h3>Login</h3>
            <p class="text-muted">Sign in to your dashboard</p>
            <div class="card-box">
                <%- include('../components/alert') %>
                <form method="post" action="/login">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="text" name="username" class="form-control"
                           placeholder="Email or username" required>
                    <input type="password" name="password" class="form-control"
                           placeholder="Password" required>
                    <button class="btn-block submit-btn mb-3" type="submit" id="form-submit">LOGIN</button>
                    <a href="/register">Don't have account? Register</a>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('../components/footer') %>
</body>
</html>