<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/header') %>
</head>
<body>
<%- include('../components/navigation') %>

<section class="blog-area section">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <%- include('../quote/_thumbnail') %>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <%- include('../quote/_thumbnail') %>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <%- include('../quote/_thumbnail') %>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="card h-100">
                    <%- include('../quote/_story', {withCover: true}) %>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <%- include('../quote/_thumbnail') %>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <%- include('../quote/_story', {withCover: false}) %>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <%- include('../quote/_thumbnail') %>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <%- include('../quote/_simple') %>
                    <%- include('../quote/_simple') %>
                </div>
            </div>
        </div>

    </div>
</section>

<%- include('../components/footer') %>
</body>
</html>
