<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/header') %>
</head>
<body>
<%- include('../components/navigation') %>

<section class="section">
    <div class="container">

        <h4 class="mb-4">Most Popular</h4>

        <%- include('../components/alert') %>

        <% if(quotes.length > 0) { %>
            <div class="row">
                <% for (let quote of quotes) { %>
                <div class="col-lg-4 col-md-6">
                    <div class="card h-100">
                        <%- include('../quote/_thumbnail', {quote}) %>
                    </div>
                </div>
                <% } %>
            </div>
        <% } else { %>
            <p>No popular quotes available!</p>
        <% } %>

    </div>
</section>

<%- include('../quote/_modal_share') %>
<%- include('../components/footer') %>
</body>
</html>
