<div class="single-post text-center">
    <div class="featured-image" style="background: url('/<%= quote.featured || 'dist/img/no-image.png' %>') center center / cover">
        <% if(isAuthenticated && quote.user.id == loggedUser.id) { %>
            <%- include('_action') %>
        <% } %>
    </div>
    <a class="avatar" href="/<%= quote.user.username %>">
        <img src="/<%= quote.user.avatar || 'dist/img/no-avatar.png' %>" alt="<%= quote.user.name %>">
    </a>
    <div class="blog-info">
        <h4 class="title">
            <a href="/quotes/<%= quote.id %>">
                <b>
                    <%= quote.quote %>
                </b>
            </a>
        </h4>
        <ul class="post-footer">
            <li><a href="#"><i class="ion-heart"></i><%= quote.get('total_likes') || 0 %></a></li>
            <li><a href="#"><i class="ion-chatbubbles"></i><%= quote.get('total_comments') || 0 %></a></li>
            <li><a href="#"><i class="ion-eye" style="font-size: 1.3em"></i><%= quote.total_views || 0 %></a></li>
        </ul>
    </div>
</div>