<div class="single-post">
    <div class="blog-image">
        <img src="<%= quote.featured || 'dist/img/no-image.png' %>" alt="Featured image">
        <%- include('_action') %>
    </div>
    <a class="avatar" href="#">
        <img src="<%= quote.user.avatar || 'dist/img/no-avatar.png' %>" alt="<%= quote.author %>">
    </a>
    <div class="blog-info">
        <h4 class="title">
            <a href="#">
                <b>
                    <%= quote.quote %>
                </b>
            </a>
        </h4>
        <ul class="post-footer">
            <li><a href="#"><i class="ion-heart"></i>3</a></li>
            <li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
            <li><a href="#"><i class="ion-eye"></i><%= quote.views || 0 %></a></li>
        </ul>
    </div>
</div>