<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/header') %>
</head>
<body>
<%- include('../components/navigation') %>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-<%= quote.featured ? '8' : '5' %> col-sm-<%= quote.featured ? '12' : '9' %> mx-auto">
                <div class="card h-100">
                    <%- include('_post_full', {quote: quote}) %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-<%= quote.featured ? '8' : '5' %> col-sm-<%= quote.featured ? '12' : '9' %> mx-auto">
                <div class="card-box">
                    <%- include('../components/alert') %>
                    <form method="post" action="/comment/<%= quote.id %>" enctype="multipart/form-data">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-group mb-5">
                            <label for="message">Post a comment</label>
                            <textarea name="message" id="message" class="form-control"
                                      placeholder="Comment about quotes" rows="2" maxlength="500"></textarea>
                        </div>
                        <button class="btn btn-block btn-lg btn-primary mb-3" type="submit" id="form-submit">
                            SUBMIT COMMENT
                        </button>
                    </form>
                </div>

                <h4 class="mt-5">Comments:</h4>

                <% for(let comment of quote.quote_comments) { %>
                    <div class="card-box">
                        <p><%= comment.comment %></p>
                        <small class="text-muted">
                            on <%= (new Date(comment.created_at)).toLocaleDateString("en-US", {year: 'numeric', month: 'short', day: 'numeric'}) %>
                            at <%= (new Date(comment.created_at)).getHours() %>:<%= (new Date(comment.created_at)).getMinutes() %>
                        </small>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>

<%- include('../components/footer') %>
</body>
</html>
